.navbar {
  font-weight: 400;
  position: fixed;
  top: 0;
  left: 0;
  background: 0 0;
  color: white;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  transition: background-color 1s ease;
  z-index: 1000;
}

.navbar.scrolled {
  position: sticky;
  background-color: black; /* Black background when scrolled */
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Optional shadow effect */
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoname {
  padding: 1rem;
}

.logoimg {
  width: 6rem;
  height: 4rem;
  /* display: inline; */
}

.navlist {
  display: flex;
  list-style-type: none;
}

.navlist li {
  padding: 1rem;
  cursor: pointer;
}

.navlist li:hover {
  color: orange;
}

.burger {
  display: none;
  padding: 1rem;
  border: none;
  color: white;
  background-color: inherit;
}

@media (max-width: 768px) {
  .navbar {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .burger {
    display: block;
    justify-self: end;
  }

  .navlist {
    flex-direction: column;
    gap: 10px;
    grid-column: 1 / -1;
    align-items: center;
    justify-content: center;

    /* transition */
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms ease-in-out;
  }

  .navlist li {
    padding: 0.5rem;
  }

  .navlist.active {
    display: flex;
    max-height: 100vh;
  }
}

@media (max-width: 300px) {
  .burger {
    display: inline;

    padding: 0;
  }
  img {
    display: none;
  }

  .logoname {
    padding: 0;
  }
}
