.intro {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  text-align: left;

  background-image: url("/public/background.jpg");
  background-size: cover;
  position: relative;
}

.intro::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.intro div {
  z-index: 1;
  position: relative;
}

.intro h1 {
  color: orange;
  font-size: 6rem;
}

.intro h3 {
  font-size: 3rem;
}

.intro p {
  font-size: 1.5rem;
}

.intro div:first-child {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .intro h1 {
    font-size: 2rem;
  }

  .intro h3 {
    font-size: 1rem;
  }
}
