.intro {
  background-image: url("/public/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeats;
  padding-top: 5rem;
  z-index: 1;
  position: relative;
  width: 100%;
}

.intro::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.overlay h1 {
  color: orange;
  font-size: 6rem;
}

.overlay h3 {
  font-size: 3rem;
}

.overlay p {
  font-size: 1.5rem;
}

.overlay {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.overlay div:first-child {
  text-align: center;
}

@media (max-width: 480px) {
  .overlay {
    height: 110vh;
  }

  .intro h1 {
    font-size: 2rem;
  }

  .intro h3 {
    font-size: 1rem;
  }
}
